
{sub_dirs, [
	"samples/nksip_loadtest",
	"samples/nksip_pbx",
	"samples/nksip_tutorial"
]}.

{erl_opts, [
    % native,
    debug_info,
    {parse_transform}
]}.

{cover_enabled, true}.
{cover_export_enabled, true}.

{deps, [
    {nklib, {git, "https://github.com/byronpc/nklib", {branch, "master"}}},
    {nkpacket, {git, "https://github.com/byronpc/nkpacket", {branch, "master"}}},
    {nkserver, {git, "https://github.com/byronpc/nkserver", {branch, "master"}}}
]}.
