[
    {nkservice, [
        {callbacksHttpUrl, "http://carlosj.synology.me:9001"},
        {externalHost, "carlosj.synology.me"}
    ]},

    {nkdomain, [
        {baseSrv, <<>>},
        {dbDriver, cockroachdb},
        {dbDatabase, nkobjects},
        {dbUrl, "postgresql://root@127.0.0.1:26257"},
        {apiUrl, "http://all:9001, https://all:9002"},
        {openapiUrl, "http://all:9001/openapi"},
        {makeGraphqlSchema, true},
        {graphiqlUrl, "http://127.0.0.1:9500"}
    ]},

    {sasl, [
        {sasl_error_logger, false}
    ]}
  
].
